<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>仓颉</title>
    <style>
        body {
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
				color: #B0BEC5;
				display: table;
				font-weight: 100;
				font-family: 'Lato';
			}

			.container {
				text-align: center;
				display: table-cell;
				vertical-align: middle;
			}

			.content {
				text-align: center;
				display: inline-block;
			}

			.title {
				font-size: 42px;
				margin-bottom: 40px;
			}
    </style>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="title">404 很抱歉，您查看的页面找不到了！</div>
            <div id="do"><a href="/">返回首页</a> <a href="javascript:history.go(-1);">返回上页</a></div>
        </div>
    </div>
</body>
