<div class="km-btn-group arrange-group">
    <div class="km-btn-item arrange-up"
         ng-click="runallcode()"
         title="{{ 'runallcode' | lang:'ui/command' }}">
        <i class="km-btn-icon"></i>
        <span class="km-btn-caption">{{ 'runallcode' | lang: 'ui/command' }}</span>
    </div>
    <div class="km-btn-item arrange-down"
         ng-click="killallcode()"
         title="{{ 'killallcode' | lang:'ui/command' }}">
        <i class="km-btn-icon"></i>
        <span class="km-btn-caption">{{ 'killallcode' | lang: 'ui/command' }}</span>
    </div>
</div>